@charset "utf-8";

html{
  font-size: 100%;
  font-family: "青柳疎石フォント2" ;
}

/* header要素 */


.title{
  background-color:white;
  text-align: center;
  margin: 50px;
  height: 100px;
  padding-top:10% ;
  padding-bottom: 10%;
  font-size: 100px;
  border: 5px solid black;
  color: black;
}

.title:hover {
  background-color: black;
  color: white;
}

/* main要素--------------------------------------------------- */

main{
  display: flex;
  flex-direction: row-reverse;
}

/* side-bar要素-------------------------------------------------- */

.side-bar{
  margin-top: 15%;
  width:15%;
}

.side-bar li {
  list-style: none;
}


/* main要素 -------------------------------------------------- */

.container{
  margin-top:15%;
  width: 85%;
}

/* image要素 */

picture img{
  width: 100%;
  height: auto;
}


/* btn-container要素 */

.btn-container{
 display: flex;
 flex-wrap: wrap;
 margin-top: 250px;

}

a {
  text-decoration: none;
}
.Inner {
  position: relative;
  width: 25%;
  margin: 4%;
  padding-top: 60%;
  overflow:hidden;
  z-index: 1;
}

.Inner-CTA {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  border: solid 5px black;
  letter-spacing: 0.15em;
  color:black;
  overflow:hidden;
  z-index: 1;
}

.Inner-CTA-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  display: inline;
  transform: translate(-50%, -50%);
  writing-mode: vertical-rl;
  font-size: 300%;
  z-index: 1;
}

.Inner span {
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  transform: translate(-100%);
  transition: transform 0.3s;
  z-index: -1;
}

.Inner-CTA:hover{
  color: white;
}

.Inner:hover span{
transform: none;
}



/* menu.html -------------------------------------------------- */

.btn-12-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}


.Inner-12 {
  position: relative;
  width: 25%;
  padding-top: 60%;
  overflow:hidden;
  z-index: 1;
}
.Inner-CTA-12 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  border: solid 5px black;
  letter-spacing: 0.15em;
  color:black;
  overflow:hidden;
  z-index: 1;
}
.Inner-CTA-Text-12 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  display: inline;
  transform: translate(-50%, -50%);
  writing-mode: vertical-rl;
  font-size: 300%;
  z-index: 1;
  white-space: nowrap;
}

.Inner-12 span {
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  transform: translate(-100%);
  transition: transform 0.3s;
  z-index: -1;
}

.Inner-CTA-12:hover{
  color: white;
}

.Inner-12:hover span{
transform: none;
}


/* .btn-12{
  background-color:gray;
  height: 500px;
  width:calc(97%/6);
  margin-top: 80px;
  writing-mode: vertical-rl;
  align-items: center; 
  border: red solid;
  text-align: center;
} */

/* ------------------------------------- */

.osiro-title{
  text-align: center;
  font-size: 100px;
}

.article{
  display: flex;
  flex-direction:column;
}

.setumei-title{
  border:solid black 3px;
  margin-top: 10%;
  width: 10%;
}



.data-title{
  border: solid black 3px;
  margin-top: 10%;
  width: 10%;
}


.map-title{
  border: solid black 3px;
  margin-top: 10%;
  width: 10%;
}



.comment-title{
  border: solid black 3px;
  margin-top: 10%;
  width: 10%;
}

